body{
    background: rgb(13,204,255);
    background: linear-gradient(90deg, rgba(13,204,255,1) 0%, rgba(71,96,255,1) 100%);

}
.main{
    
    margin-top: 7%;
    margin-left: calc(35% - 90px);
    position: relative;
    background-color: aliceblue;
    width: 600px;
    height: 700px;
    border-radius: 3% 3% 2% 2%;
    box-shadow: 0 0 60px rgb(53, 51, 51) ;
}
.display{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgb(50, 50, 53);
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

#numeros{
    margin-top: 35px;
    font-size: 60px;
    color: aliceblue;
    margin-right: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;

}
.l1{
    display: block;
    width: 100%;
    height: 20%;
}
.l2{
    display: block;
    width: 100%;
    height: 20%;
}
.l3{
    display: block;
    width: 100%;
    height: 20%;
}
.l4{
    display: block;
    width: 100%;
    height: 20%;
}
.l5{
    display: block;
    width: 100%;
    height: 20%;
}
button{
   outline: none; 
   border-width: 0;
   font-size: 25px;
   cursor: pointer;
   background-color: aliceblue;
}

button:hover{
    background-color: rgb(65, 65, 70);
    color: aliceblue;
} 

#ac{
    width: 50%;
    height: 100%;
    margin: 0px;
}
#del{
    width: 25%;
    height: 100%;
    margin: -4px;
    
}
#divi{
    width: 25%;
    height: 100%;
    margin: 0px;
}

.um{
    width: 25%;
    height: 100%;
    margin: 0px;
}
.dois{
    width: 25%;
    height: 100%;
    margin: -4px;
    
}
.tres{
    width: 25%;
    height: 100%;
    margin: 0px;
}
#zero{
    width: 25%;
    height: 100%;
    margin: 0px;
}
#virg{
    width: 25%;
    height: 100%;
    margin: -4px;
    
}
#multi{
    width: 25%;
    height: 100%;
    margin: -4px;
}
#mais{
    width: 25%;
    height: 100%;
    margin: -4px;
}

#menos{
    width: 25%;
    height: 100%;
    margin: -4px;
}
#igual{
    width: 50%;
    height: 100%;

}