*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(13,204,255);
    background: linear-gradient(90deg, rgba(13,204,255,1) 0%, rgba(71,96,255,1) 100%);
    display: flex;
    justify-content: center;
}
.main{
    min-width: 400px;
    margin-top: 60px;
    background-color: aliceblue;
    width: 37.5rem;
    height: 43.75rem;
    border-radius: 20px 20px 0 0 ;
    box-shadow: 0 0 60px rgb(53, 51, 51) ;
}
.display{
    position: relative;
    width: 100%;
    height: 20%;
    background-color: rgb(50, 50, 53);
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: flex-end;
}

#numeros{
    margin-top: 35px;
    font-size: 60px;
    color: aliceblue;
    margin-right: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
}
.peq{
    display: block;
    width: 100%;
    height: 7rem;
}
button{
    padding: 0;
    outline: none;
    border-width: 0;
    font-size: 25px;
    cursor: pointer;
    background-color: aliceblue;
}
button:hover{
    background-color: rgb(65, 65, 70);
    color: aliceblue;
} 

#ac{
    width: 50%;
    height: 100%;
    margin: 0;
}
#del{
    width: 25%;
    height: 100%;
    margin: -4px;
}
#divi{
    width: 25%;
    height: 100%;
    margin: 0;
}
.num{
    width: 9.18rem;
    height: 7rem;
}
#zero{
    width: 25%;
    height: 100%;
    margin: 0;
}
#igual{
    width: 18.64rem;
    height: 100%;

}


@media (max-width: 660px)
{
   .main{
       width: 100vw;
       height: 88vh;
       border-radius: 0;
   }
   .num{
       width: 24vw;
       height: 14vh;
   }
    #igual{
        width: 50vw;
    }
   .display{
       border-radius: 0;
   }

    .peq{
        height: 14vh;
    }

}
